body {
  background-color: charcoal;
}
h1 {
  color: pink;
  font-family: Times New Roman;
  font-size: 150%;
  font-weight: normal;
}

p {
  color: blue;
  font-family: Arial;
  font-size: 100%;
  font-weight: bold;
}
a {
  color: red;
  font-family: Arial;
  font-size: 100%;
  font-weight: bold;
}
